### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

run/*result*
run/logs
doc/
README
HOW-TO-RUN.txt
run/*timeoutAbort
run/*timeoutValloss
run/*notimeout
!JDK8/bin
run/standard_data/*.sql
run/standard_data/*.json
*.png
run/bmsql.sql
src/predict
src/server
src/NLP

